<div class="min-h-screen flex flex-col">
  <%= render "shared/header" %>
  <div class="flex-1 flex flex-col items-center justify-center">
    <!-- ここに診断結果の内容 -->
    <%= image_tag @image, alt: "診断結果のパロット", class: "w-auto h-auto mb-6 shake-on-hover" %>
    <h2 class="text-2xl font-bold mb-4"><%= @headline %></h2>
    <div class="bg-white rounded-lg shadow-md p-8 max-w-2xl">
      <p class="text-lg leading-relaxed whitespace-pre-line"><%= @description %></p>
    </div>
    <div class="flex">
        <div class="mt-6 mx-5">
        <% tweet_text = "#{@headline}\n#{image_url(@image)}\n#PartyParrot診断" %>
        <%= link_to "Xでシェアする", "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode(tweet_text)}", target: "_blank", rel: "noopener", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
        <div class="mt-6 mx-5">
        <%= link_to "もう一度診断する", new_diagnosis_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>